body {
  background-color: whitesmoke;
}

.input-field {
  text-align: center;
  align-self: center;
  width: 100%;
}
.result-image {
  display: inline-block;
  width:200px;
  height: 200px;
  object-fit: cover;
  margin-left:7px;
  margin-right:7px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: center;
  line-height: 0;
}

.spell-check-override-text {
  text-align: center;
}

.spell-check-override-link {
  cursor: pointer;
  color: #4db6ac;
  text-decoration: underline;
  font-weight: bold;
}
